<div class="col-md-12">
  <h1 class="title">Catalog</h1>
</div>

<% @catalog.each do |sheetmusic| %>
  <div class="col-md-10">
    <h2><%= sheetmusic.title %></h2>
  </div>
  <div class="clearfix"></div>

  <div class="col-md-7 col-sm-9 col-xs-12">     
    <p class="lead"><%= sheetmusic.subtitle %></p>
    <p><%= sheetmusic.description %></p>
  </div>

  <div class="col-md-4 col-md-offset-1">
<!--     <dl class="dl-horizontal">
      <dt>Genre</dt>
      <dd><%= sheetmusic.genre %></dd>
      
      <dt>Duration</dt>
      <dd><%= sheetmusic.duration %> min</dd>
    </dl> -->

    <% if sheetmusic.multiple_arrangements  %>

      <div class="col-md-8 col-sm-6 col-xs-8">
        <select class="form-control">
          <% sheetmusic.multiple_arrangements.each do |arrangement| %>
            <option><%= arrangement.first + " - " + arrangement.second %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-3">
        <button class="btn btn-primary" data-price="$50">Buy Now</button>
      </div>

    <% elsif sheetmusic.multiple_parts %>

      <div class="col-md-8 col-sm-6 col-xs-8">
        <select class="form-control">
          <% sheetmusic.multiple_parts.each do |part| %>
            <option><%= part.first + " - " + part.second %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-3">
        <button class="btn btn-primary" data-price="$50">Buy Now</button>
      </div>

    <% else %>

      <div class="col-md-8 col-sm-6 col-xs-8">
        <div class="well">
          <%= sheetmusic.arrangement.first  + " - " + sheetmusic.arrangement.second  %>
        </div>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-3">
        <button class="btn btn-primary" data-price="$50">Buy Now</button>
      </div>

    <% end %>

    <div class="clearfix"></div>

<!-- e -->

    <div class="clearfix"></div>

  </div>
<% end %>