<div class="col-md-12">
  <h1 class="title">Catalog</h1>
</div>

<% SheetMusic.all.each do |sheetmusic| %>

  <div class="col-md-10">
    <h2>
      <%= sheetmusic.title %>
      <% if sheetmusic.sample_recording %>
        <a class="btn btn-default btn-xs" href="<%= sheetmusic.sample_recording %>">
          <i class="icon-play"></i>
          play
        </a>
      <% end %>
    </h2>
  </div>

  <div class="clearfix"></div>

  <div class="col-md-7 col-sm-9 col-xs-12">     
    <p class="lead"><%= sheetmusic.subtitle %></p>
    <p><%= sheetmusic.description %></p>
    <% if sheetmusic.multiple_parts? %>
      <p>Sample Parts:
        <% sheetmusic.sample_parts.each do |part| %>
          <a class='btn btn-default btn-xs' href="<%= part.scribd_sample_link %>" >
          <%= part.instrument %>
          </a>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="col-md-4 col-md-offset-1">
<!--     <dl class="dl-horizontal">
      <dt>Genre</dt>
      <dd><%= sheetmusic.genre %></dd>
      
      <dt>Duration</dt>
      <dd><%= sheetmusic.duration %> min</dd>
    </dl> -->

    <div class="col-md-8 col-sm-6 col-xs-8">
      <select class="form-control" id="<%= sheetmusic.id %>" data-name="<%= sheetmusic.title %>">
        <% if sheetmusic.multiple_arrangements?  %>
          <% sheetmusic.arrangements.each do |arrangement| %>
            <option data-price="<%= arrangement.price_in_cents %>">
              <%= arrangement.version + " - " + arrangement.price %>
            </option>
          <% end %>
        <% elsif sheetmusic.multiple_parts? %>
          <% sheetmusic.arrangements.first.parts.each do |part| %>
            <option data-price="<%= part.price_in_cents %>">
              <%= part.instrument + " - " + part.price %>
            </option>
          <% end %>
        <% else %>
          <option data-price="<%= sheetmusic.arrangements.first.price_in_cents %>">
            <%= sheetmusic.arrangements.first.version  + " - " + sheetmusic.arrangements.first.price %>
          </option>
        <% end %>
      </select>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-3">
      <button class="btn btn-primary buy-now" id="<%= sheetmusic.id %>">Buy Now</button>
    </div>

    <div class="clearfix"></div>

    <% if sheetmusic.outside_vendors? %>
      <hr>
      <div class="col-md-8 col-sm-6 col-xs-8">
        Also available from:
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4">
        <% sheetmusic.vendor_items.each do |item| %>
          <button class="btn btn-default btn-xs" >
            <%= item.vendor %>
          </button>
        <% end %>
      </div>
    <% end %>

    <div class="clearfix"></div>

  </div>
<% end %>