<h1 class="title">Catalog</h1>
<% SheetMusic.all.each do |sheetmusic| %>
  <h2><%= sheetmusic.title %></h2>
  <p class="lead"><%= sheetmusic.subtitle %></p>
  <p><%= sheetmusic.description %></p>
  <ul>
    <li>Genre: <%= sheetmusic.genre %>
    <li>Duration: <%= sheetmusic.duration %> min

    <% sheetmusic.arrangements.each do |arrangement| %>
    <li><%= "#{arrangement.version} Version (For #{arrangement.instrumentation})"%>
      <ul>          
        <li>Available from: 
          <% arrangement.parts.each do |part| %>
            <%= part.items.map{|item| item.vendor + ": " + item.price}.join %>
          <% end %> 
      </ul>
    <% end %>

  </ul>
<% end %>
<hr>
